In [1]:
%%time
import pandas as pd

def preproc(item):
    return item.lower().replace('-',' ').replace('+',' ').replace('ê','e').replace('é','e').replace('ã','a').replace('â','a').replace('ç','c')


def score(item1, item2):
    item1, item2 = set(item1.split()), set(item2.split())
    x = len(item1 & item2)
    score = 2 * x / (len(item1) + len(item2))
    return score


items = pd.read_csv('items_titles.csv')
items_test = pd.read_csv('items_titles_test.csv')

#Tomamos un sample de 1000 productos para analizar el algoritmo en un tiempo razonable.
df = items_test.sample(1000)
#df = items_test 

df = df.rename(columns={'ITE_ITEM_TITLE':'title'})
df['title'] = df['title'].map(lambda x: preproc(x))

cross = df.merge(df, how='cross')

cross['score'] = cross.apply(lambda x: score(x['title_x'],x['title_y']),axis=1)

cross = cross.sort_values('score',ascending=False)

cross.head()

CPU times: user 12.2 s, sys: 466 ms, total: 12.7 s
Wall time: 13.4 s

,title_x,title_y,score
0,tenis slip on oito entrelacado,tenis slip on oito entrelacado,1.0
329329,sapatilha mtb bike ciclismo resistente promoca...,sapatilha mtb bike ciclismo resistente promoca...,1.0
342342,tenis moleca casual baixinho com detalhe em zíper,tenis moleca casual baixinho com detalhe em zíper,1.0
341341,via uno tenis slip on feminino confortável 150859,via uno tenis slip on feminino confortável 150859,1.0
340340,sapatenis feminino oxford sapatilha jeans azul...,sapatenis feminino oxford sapatilha jeans azul...,1.0

Para ver mejor qué tan bien funciona la comparación, vamos a truncar los valores que dan score cero o uno.

In [2]:
cross[(cross['score']!=1) & (cross['score']!=0)]

,title_x,title_y,score
519442,tenis esportivo tira infantil menino energy te...,tenis infantil esportivo menino energy tec kid...,0.941176
442519,tenis infantil esportivo menino energy tec kid...,tenis esportivo tira infantil menino energy te...,0.941176
262733,tenis feminino strass casual,tenis casual feminino strass kolosh,0.888889
733262,tenis casual feminino strass kolosh,tenis feminino strass casual,0.888889
864159,tenis masculino leve p/ caminhada academia pro...,tenis masculino leve p/ caminhada academia pro...,0.875000
...,...,...,...
320910,bike cross bicicleta infantil aro 16 4 a 8 ano...,saucony endorphin ld4 sapatilha de atletismo...,0.083333
773252,"tenis de linho marca inbox, tamho 37 com detal...",smart tv led 43 full hd aoc com wi fi hdmi usb...,0.083333
910338,saucony endorphin ld4 sapatilha de atletismo...,sapatilha mtb sh xc50 branca número 42 (br) e ...,0.083333
252321,smart tv led 43 full hd aoc com wi fi hdmi usb...,bicicleta feminina aro 26 na cor creme com cer...,0.083333
252408,smart tv led 43 full hd aoc com wi fi hdmi usb...,tenis mizuno sky 5 m cinza gelo 100% original...,0.083333